
.cusburgericon{
    top: 27px !important;
  }
  
  a.acuspad{
    padding: 0px 17px !important;
  }

  span.acuspad{
    margin-top: 3px;
    padding: 15px 41px  !important;
    cursor: pointer;
  }


  .header .main-menu li a:hover {
    color: #90331C !important;
}

.btn.btn-default:hover {
    background-color: #90331C !important; 
}

.header .main-menu li ul {

    min-width: 215px;
}
